<h1>Workstation Tracking</h1>
<ul>
<li><%= link_to "Current Status", current_statuses_path %></li>
<li><%= link_to "Workstation Availability", "#" %></li>
<li><%= link_to "Location Map", location_maps_path %></li>
</ul>
