<?xml version="1.0" encoding="UTF-8"?>
<Context
  path="/wstrack"
  docBase="wstrack"
  reloadable="false"
  crossContext="false">

  <Resource
    name="jdbc/wstrackDS" auth="Container" type="javax.sql.DataSource"
    maxActive="10" maxIdle="5" minIdle="2" initialSize="2" maxWait="10000"
    testOnBorrow="true" validationQuery="select 1"
    poolPreparedStatements="true"
    username="${db.user}" password="${db.password}"
    driverClassName="org.postgresql.Driver"
    url="jdbc:postgresql://${db.host}:5432/wstrack" />

  <Environment name="exportFile" value="/tmp/wstrack.csv"
    type="java.lang.String" override="false"/>

</Context>