<li>
  <% if current_page.first? %>
    <span class="prev disabled"><%= raw(t 'views.pagination.previous') %></span>
  <% else %>
    <%= link_to raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote %>
  <% end %>
</li>
