# Example .env file
#
# If running locally on a workstation, make a copy of this file named ".env"
# and fill out the properties
#
# Note: The .env file should _not_ be checked in to Git!
#
# When running in production,  using Kubernetes, the Kubernetes configuration
# should include the following enviroment variables.

# --- config/application.rb
# Hostname of the application
HOST=wstrack-local