# Example .env file
#
# If running locally on a workstation, make a copy of this file named ".env"
# and fill out the properties
#
# Note: The .env file should _not_ be checked in to Git!
#
# When running in production,  using Kubernetes, the Kubernetes configuration
# should include the following enviroment variables.

# --- config/application.rb
# Hostname of the application
HOST=wstrack-local

# --- config/initializers/omniauth.rb

# SAML SP's Signing Key
SAML_SP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"

# SAML SP's Certificate
SAML_SP_CERTIFICATE="-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----"
